* {
    box-sizing: border-box;
}

.nps {
    height: 300px;
    width: 250px;
}

.header {
    width: 100%;
    position: relative;
}

.header h1 {
    display: inline-block;
    margin-left: 10px
}

.status {
    position: absolute;
    right: 10px;
    display: inline-block;
    list-style: none;
    margin-top: 30px;
}

.status li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container {
    margin: auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    border: 1px black solid;
}

.submit-answer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.view {
    display: block;
}

.hide-view {
    display: none;
}

#correct-page .nps {
    float: left;
    margin-right: 25px;
}

#correct-page p {
    position: relative;
    top: 75px;
}

#correct-page .next {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
}